/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color:grey;
    font-weight: 400;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color:black;
    font-weight: 800;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

